# Loading Data 
### USDA-ERS Food Access Atlas and Food Environment Atlas

In [16]:
# Import Libraries
import pandas as pd
pd.set_option('display.max_rows', 500)

### Food Access Atlas - Census Level Data

In [30]:
# Food Access Atlas
acc_df = pd.read_excel("./data/Access.xlsx", sheet_name=None)
acc_df.keys()

odict_keys(['Read Me', 'Variable Lookup', 'Food Access Research Atlas'])

In [25]:
census = acc_df['Food Access Research Atlas']
census.shape

(72864, 149)

In [27]:
# Make Flag for Low-Access Tracts
census['la_flag'] = (census['LA1and10'] == 1) | (census['LA1and20'] == 1) | (census['LAhalfand10'] == 1) | (census['LATracts_half'] == 1) | (census['LATracts1'] == 1) | (census['LATracts10'] == 1 )| (census['LATracts20'] == 1) | (census['LATractsVehicle_20'] == 1)
census['la_flag'] = np.multiply(census['la_flag'], 1)
census['la_flag'].value_counts(normalize= True)

1    0.720068
0    0.279932
Name: la_flag, dtype: float64

In [28]:
# Create Food Desert Flag 
census['fd_flag'] = (census['LILATracts_1And10'] == 1) | (census['LILATracts_1And20'] == 1) | (census['LILATracts_Vehicle'] == 1) | (census['LILATracts_halfAnd10'] == 1) 
census['fd_flag'] = np.multiply(census['fd_flag'], 1)
census['fd_flag'].value_counts(normalize = True)

0    0.696338
1    0.303662
Name: fd_flag, dtype: float64

In [29]:
# Save Census data
census.to_csv("data/census.csv")

### Food Environment Atlas - County Level Data

In [18]:
#  Load Food Environment Atlas (ENV)
env_df = pd.read_excel('./data/Environment.xls', sheet_name=None)
env_df.keys()

odict_keys(['Read_Me', 'Variable List', 'Supplemental Data - County', 'Supplemental Data - State', 'ACCESS', 'STORES', 'RESTAURANTS', 'ASSISTANCE', 'INSECURITY', 'PRICES_TAXES', 'LOCAL', 'HEALTH', 'SOCIOECONOMIC'])

### Loading Each Page into a Data Frame

In [19]:
# Access variables
access = env_df['ACCESS']
insecurity = env_df['INSECURITY']
local = env_df['LOCAL']
assistance = env_df['ASSISTANCE']
stores = env_df['STORES']
restaurants = env_df['RESTAURANTS']
socioeconomic = env_df['SOCIOECONOMIC']
health = env_df['HEALTH']
prices_taxes = env_df['PRICES_TAXES']
supp_counties = env_df['Supplemental Data - County']
supp_state = env_df['Supplemental Data - State']

In [20]:
# Create County Level Data Set
dfs = [access, insecurity, health, local, restaurants, socioeconomic, health, stores, assistance, supp_counties]

county = pd.concat(dfs, axis  = 1, join = 'inner', copy = False)

In [21]:
county.shape

(3142, 317)

In [22]:
# Remove Duplicated Columns

county = county.loc[:,~county.columns.duplicated()]

# Drop second FIPS column
county.drop(columns = 'FIPS ', inplace = True)

In [23]:
county.head()

,FIPS,State,County,LACCESS_POP10,LACCESS_POP15,PCH_LACCESS_POP_10_15,PCT_LACCESS_POP10,PCT_LACCESS_POP15,LACCESS_LOWI10,LACCESS_LOWI15,...,PCT_CACFP15,PCH_CACFP_09_15,FDPIR12,2010 Census Population,"Population Estimate, 2011","Population Estimate, 2012","Population Estimate, 2013","Population Estimate, 2014","Population Estimate, 2015","Population Estimate, 2016"
0,1001,AL,Autauga,18428.439685,17496.693038,-5.056026,33.769657,32.062255,5344.427472,6543.676824,...,1.055597,0.139507,0,"54,571","55,255","55,027","54,792","54,977","55,035","55,416"
1,1003,AL,Baldwin,35210.814078,30561.264430,-13.204891,19.318473,16.767489,9952.144027,9886.831137,...,1.055597,0.139507,0,"182,265","186,653","190,403","195,147","199,745","203,690","208,563"
2,1005,AL,Barbour,5722.305602,6069.523628,6.067799,20.840972,22.105560,3135.676086,2948.790251,...,1.055597,0.139507,0,"27,457","27,326","27,132","26,938","26,763","26,270","25,965"
3,1007,AL,Bibb,1044.867327,969.378841,-7.224696,4.559753,4.230324,491.449066,596.162829,...,1.055597,0.139507,0,"22,915","22,736","22,645","22,501","22,511","22,561","22,643"
4,1009,AL,Blount,1548.175559,3724.428242,140.568857,2.700840,6.497380,609.027708,1650.959482,...,1.055597,0.139507,0,"57,322","57,707","57,772","57,746","57,621","57,676","57,704"

In [24]:
# Save County Data
county.to_csv("data/county.csv")