# Analysis of USDA-ERS Food Access Atlas and Food Environment Atlas

![](Assets/Atlas_Map.PNG)

--- 
### Problem Statement
 - What factors are the best predictors of an area being designated as a Food Desert?
  
  
### Methodology and Models
 - Classification of regions as Food Deserts using USDA metrics
 - Clustering of Counties to uncover relationships between regions
 
### Risks and Assumptions
 - Data is at the County Level for Food Environment Atlas (ENV), Census Tract for Food Access (ACC)
     - Will need to aggregate but ensure information is preserved
 - Want to avoid returning lists of correlations without any predictive power
 - Assumptions:
     - Enough data is captured about consumer behavior to uncover relationship between
         individuals and Govt. Spending
 
 - Data Sources:
     - https://www.ers.usda.gov/data-products/food-access-research-atlas/
     - https://www.ers.usda.gov/foodatlas/
 
---

### EDA

In [28]:
# Import Libraries
import pandas as pd
import numpy as np
import json

pd.set_option('display.max_rows', 500)

### Food Environment Atlas - County Level Data

In [30]:
#  Load Food Environment Atlas (ENV)
env_df = pd.read_excel('./data/Environment.xls', sheet_name=None)
env_df.keys()

odict_keys(['Read_Me', 'Variable List', 'Supplemental Data - County', 'Supplemental Data - State', 'ACCESS', 'STORES', 'RESTAURANTS', 'ASSISTANCE', 'INSECURITY', 'PRICES_TAXES', 'LOCAL', 'HEALTH', 'SOCIOECONOMIC'])

### Loading Each Page into a Data Frame

In [31]:
# Access variables
access = env_df['ACCESS']
insecurity = env_df['INSECURITY']
local = env_df['LOCAL']
assistance = env_df['ASSISTANCE']
stores = env_df['STORES']
restaurants = env_df['RESTAURANTS']
socioeconomic = env_df['SOCIOECONOMIC']
health = env_df['HEALTH']
prices_taxes = env_df['PRICES_TAXES']
supp_counties = env_df['Supplemental Data - County']
supp_state = env_df['Supplemental Data - State']

In [32]:
# Create County Level Data Set
dfs = [access, insecurity, health, local, restaurants, socioeconomic, health, stores, assistance, supp_counties]

county = pd.concat(dfs, axis  = 1, join = 'inner', copy = False)

In [33]:
county.shape

(3142, 317)

In [34]:
# Remove Duplicated Columns

county = county.loc[:,~county.columns.duplicated()]

# Drop second FIPS column
county.drop(columns = 'FIPS ', inplace = True)

In [35]:
county.head()

,FIPS,State,County,LACCESS_POP10,LACCESS_POP15,PCH_LACCESS_POP_10_15,PCT_LACCESS_POP10,PCT_LACCESS_POP15,LACCESS_LOWI10,LACCESS_LOWI15,...,PCT_CACFP15,PCH_CACFP_09_15,FDPIR12,2010 Census Population,"Population Estimate, 2011","Population Estimate, 2012","Population Estimate, 2013","Population Estimate, 2014","Population Estimate, 2015","Population Estimate, 2016"
0,1001,AL,Autauga,18428.439685,17496.693038,-5.056026,33.769657,32.062255,5344.427472,6543.676824,...,1.055597,0.139507,0,"54,571","55,255","55,027","54,792","54,977","55,035","55,416"
1,1003,AL,Baldwin,35210.814078,30561.264430,-13.204891,19.318473,16.767489,9952.144027,9886.831137,...,1.055597,0.139507,0,"182,265","186,653","190,403","195,147","199,745","203,690","208,563"
2,1005,AL,Barbour,5722.305602,6069.523628,6.067799,20.840972,22.105560,3135.676086,2948.790251,...,1.055597,0.139507,0,"27,457","27,326","27,132","26,938","26,763","26,270","25,965"
3,1007,AL,Bibb,1044.867327,969.378841,-7.224696,4.559753,4.230324,491.449066,596.162829,...,1.055597,0.139507,0,"22,915","22,736","22,645","22,501","22,511","22,561","22,643"
4,1009,AL,Blount,1548.175559,3724.428242,140.568857,2.700840,6.497380,609.027708,1650.959482,...,1.055597,0.139507,0,"57,322","57,707","57,772","57,746","57,621","57,676","57,704"

In [36]:
# Save County Data
county.to_csv("data/county.csv")

In [45]:
print("The total number of people in Low Access Counties in 2015 is " + str(round(env_access['LACCESS_POP15'].sum(),0)))
print("The total number of people in Low Access Counties in 2010 is " + str(round(env_access['LACCESS_POP10'].sum(),0)))

The total number of people in Low Access Counties in 2015 is 60254923.0
The total number of people in Low Access Counties in 2010 is 63352361.0

In [37]:
# Food Access Atlas
acc_df = pd.read_excel("./data/Access.xlsx", sheet_name=None)
acc_df.keys()

odict_keys(['Read Me', 'Variable Lookup', 'Food Access Research Atlas'])

In [39]:
census = acc_df['Food Access Research Atlas']
census.shape

(72864, 147)

In [40]:
# Make Flag for Low-Access Tracts
census['la_flag'] = (census['LA1and10'] == 1) | (census['LA1and20'] == 1) | (census['LAhalfand10'] == 1) | (census['LATracts_half'] == 1) | (census['LATracts1'] == 1) | (census['LATracts10'] == 1 )| (census['LATracts20'] == 1) | (census['LATractsVehicle_20'] == 1)
census['la_flag'] = np.multiply(census['la_flag'], 1)
census['la_flag'].value_counts(normalize= True)

1    0.720068
0    0.279932
Name: la_flag, dtype: float64

In [41]:
# Create Food Desert Flag 
census['fd_flag'] = (census['LILATracts_1And10'] == 1) | (census['LILATracts_1And20'] == 1) | (census['LILATracts_Vehicle'] == 1) | (census['LILATracts_halfAnd10'] == 1) 
census['fd_flag'] = np.multiply(census['fd_flag'], 1)
census['fd_flag'].value_counts(normalize = True)

0    0.696338
1    0.303662
Name: fd_flag, dtype: float64

In [42]:
census.head()

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP,la_flag,fd_flag
0,1001020100,Alabama,Autauga,1,1912,693,0,0,0.000000,0,...,217,14,0,14,45,44,26,112,1,0
1,1001020200,Alabama,Autauga,1,2170,743,0,181,0.083410,0,...,1217,5,0,5,55,75,87,202,1,0
2,1001020300,Alabama,Autauga,1,3373,1256,0,0,0.000000,0,...,647,17,5,11,117,87,108,120,1,0
3,1001020400,Alabama,Autauga,1,4386,1722,0,0,0.000000,0,...,193,18,4,11,74,85,19,82,1,0
4,1001020500,Alabama,Autauga,1,10766,4082,0,181,0.016812,0,...,1437,296,9,48,310,355,198,488,1,0

In [43]:
census.to_csv("data/census.csv")

In [45]:
census.memory_usage(deep=True)

Index                       128
CensusTract              582912
State                   4767032
County                  4696578
Urban                    582912
POP2010                  582912
OHU2010                  582912
GroupQuartersFlag        582912
NUMGQTRS                 582912
PCTGQTRS                 582912
LILATracts_1And10        582912
LILATracts_halfAnd10     582912
LILATracts_1And20        582912
LILATracts_Vehicle       582912
HUNVFlag                 582912
LowIncomeTracts          582912
PovertyRate              582912
MedianFamilyIncome       582912
LA1and10                 582912
LAhalfand10              582912
LA1and20                 582912
LATracts_half            582912
LATracts1                582912
LATracts10               582912
LATracts20               582912
LATractsVehicle_20       582912
LAPOP1_10                582912
LAPOP05_10               582912
LAPOP1_20                582912
LALOWI1_10               582912
LALOWI05_10              582912
LALOWI1_20               582912
lapophalf                582912
lapophalfshare           582912
lalowihalf               582912
lalowihalfshare          582912
lakidshalf               582912
lakidshalfshare          582912
laseniorshalf            582912
laseniorshalfshare       582912
lawhitehalf              582912
lawhitehalfshare         582912
lablackhalf              582912
lablackhalfshare         582912
laasianhalf              582912
laasianhalfshare         582912
lanhopihalf              582912
lanhopihalfshare         582912
laaianhalf               582912
laaianhalfshare          582912
laomultirhalf            582912
laomultirhalfshare       582912
lahisphalf               582912
lahisphalfshare          582912
lahunvhalf               582912
lahunvhalfshare          582912
lasnaphalf               582912
lasnaphalfshare          582912
lapop1                   582912
lapop1share              582912
lalowi1                  582912
lalowi1share             582912
lakids1                  582912
lakids1share             582912
laseniors1               582912
laseniors1share          582912
lawhite1                 582912
lawhite1share            582912
lablack1                 582912
lablack1share            582912
laasian1                 582912
laasian1share            582912
lanhopi1                 582912
lanhopi1share            582912
laaian1                  582912
laaian1share             582912
laomultir1               582912
laomultir1share          582912
lahisp1                  582912
lahisp1share             582912
lahunv1                  582912
lahunv1share             582912
lasnap1                  582912
lasnap1share             582912
lapop10                  582912
lapop10share             582912
lalowi10                 582912
lalowi10share            582912
lakids10                 582912
lakids10share            582912
laseniors10              582912
laseniors10share         582912
lawhite10                582912
lawhite10share           582912
lablack10                582912
lablack10share           582912
laasian10                582912
laasian10share           582912
lanhopi10                582912
lanhopi10share           582912
laaian10                 582912
laaian10share            582912
laomultir10              582912
laomultir10share         582912
lahisp10                 582912
lahisp10share            582912
lahunv10                 582912
lahunv10share            582912
lasnap10                 582912
lasnap10share            582912
lapop20                  582912
lapop20share             582912
lalowi20                 582912
lalowi20share            582912
lakids20                 582912
lakids20share            582912
laseniors20              582912
laseniors20share         582912
lawhite20                582912
lawhite20share           582912
lablack20                582912
lablack20share           582912
laasian20                582912
laasian20share           582912
lanhopi20                582912
lanhopi20share           582912
laaian20                 582912
laaian20share            582912
laomultir20              582912
laomultir20share         582912
lahisp20                 582912
lahisp20share            582912
lahunv20                 582912
lahunv20share            582912
lasnap20                 582912
lasnap20share            582912
TractLOWI                582912
TractKids                582912
TractSeniors             582912
TractWhite               582912
TractBlack               582912
TractAsian               582912
TractNHOPI               582912
TractAIAN                582912
TractOMultir             582912
TractHispanic            582912
TractHUNV                582912
TractSNAP                582912
la_flag                  291456
fd_flag                  291456
dtype: int64